.pageLogo {

    height: 160px;

    font-family: Laila;
    font-style: normal;
    font-weight: 600;
    line-height: 160px;
    font-size: 48px;
    text-align: center;

    color: rgba(73, 48, 38, 0.25);
}