.loginPage div{
    position: relative;
    z-index: 100;
}

.loginPage .circle{
    position: fixed;
    left: calc((1534px - 100%)/-2);
    top: 20%;
    width: 1534px;
    height: 1534px;
    border-radius: 50%;
    z-index: 0;

    background: #D6CBB0;
    opacity: 0.2;
    box-shadow: inset 0px 0.8px 6.4px rgba(0, 0, 0, 0.25);
}