.bookView{
    position: relative;
    height: 210px;
    width: 153px;
    margin: 48px;
    transform-origin: center center;
    transform-style: preserve-3d;
}
.bookView .bookCover{
    position: relative;
    width: 100%;
    height: 100%;;
    
    background: #B3E9C7;
    border-radius: 0px 14px 0px 0px;
}

.bookView .bookCover:last-child{
    top: -100%;
}

.bookView .bookSpine{
    position: absolute;
    height: 210px;
    width: 17px;
    background: rgba(73, 48, 38, 0.25);
}
.bookView .bookBottom{
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0;

    transform-origin: bottom center;
    transform: rotateX(90deg);
    background: white;
}

.bookView .bookPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    margin-top: 2.5%;

    border-radius: 0px 14px 0px 0px;
    background: linear-gradient(to right, #F7FEE7, white);
}



.bookView > div{
    transform-origin: left;
}

.bookView:hover >div{
    box-shadow: 0px 1px 2px 2px rgba(20,20,20,0.1);
}


.bookView:hover{
    transform: rotateX(40deg);
}

.bookView .bookCover{
    transform: rotateY(0deg);
    transition: transform 0.4s;
}
.bookView:hover .bookCover:first-child{
    transform: rotateY(-160deg) translateX(-2px);
    transition: transform 0.4s;
}
.bookView:hover .bookCover:last-child{
    transform: rotateY(-20deg) translateX(-2px);
    transition: transform 0.4s;
}


.bookView .bookPage:nth-child(2){
    transform: rotateY(0deg) translateZ(-2px);
    transition: transform 0.4s;
}
.bookView:hover .bookPage:nth-child(2){
    transform: rotateY(-140deg);
    transition: transform 0.4s;
}


.bookView .bookPage:nth-child(3){
    transform: rotateY(0deg) translateZ(-4px);
    transition: transform 0.4s;
}
.bookView:hover .bookPage:nth-child(3){
    transform: rotateY(-120deg);
    transition: transform 0.4s;
}

.bookView .bookPage:nth-child(4){
    transform: rotateY(0deg) translateZ(-6px);
    transition: transform 0.4s;
}
.bookView:hover .bookPage:nth-child(4){
    transform: rotateY(-100deg);
    transition: transform 0.4s;
}

.bookView .bookPage:nth-child(5){
    transform: rotateY(0deg) translateZ(-8px);
    transition: transform 0.4s;
}
.bookView:hover .bookPage:nth-child(5){
    transform: rotateY(-80deg);
    transition: transform 0.4s;
}

.bookView .bookPage:nth-child(6){
    transform: rotateY(0deg) translateZ(-10px);
    transition: transform 0.4s;
}
.bookView:hover .bookPage:nth-child(6){
    transform: rotateY(-60deg) translateZ(-10px);
    transition: transform 0.4s;
}

.bookView .bookPage:nth-child(7){
    transform: rotateY(0deg) translateZ(-12px);
    transition: transform 0.4s;
}
.bookView:hover .bookPage:nth-child(7){
    transform: rotateY(-40deg);
    transition: transform 0.4s;
}
